# Python
.venv/
__pycache__/
*.py[cod]
*.sqlite3

# Django
backend/db.sqlite3
backend/staticfiles/
media/

# Environment
.env
.env.*

# Node
frontend/node_modules/
frontend/.next/

# Logs
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db